@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}

#root {
  @apply h-screen;
}

body {
  @apply  bg-surface;
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size:20px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

h3 {
  font-size: 16;
  font-weight: 500;
}

.caption-large {
  font-weight: bold;
  font-size: 12.58px;
}

button {
  font-size: 14px;
  font-weight: 600;
}

progress::-webkit-progress-bar{
  border-radius: 50px;
  background-color: #92C6CC;
}

progress::-webkit-progress-value {
  border-radius: 50px;
  background-color: #102740;
}

progress:after {
  font-weight: bold;
  color: black;
	margin:-21px 30px 20px 8px;
	padding:0;
	display:inline-block; /* Here is the magic to move with the progress */
	float:left;
	content: attr(value)'%';
}
  

.card {
  @apply bg-surface2 p-4 rounded shadow;
}

.card-primary {
  @apply bg-primary;
}